/* Body section */

body{
    margin: 30px 50px;
    font-family: 'Lato', sans-serif;
    background-color: rgb(179, 174, 174);
}

/* Main grid */

/* Note: Main jab har section main usko grid define kar raha hun aur usko uski properties de raha hun to iske baghair koi farq nai parega website par */
.container{
    display: grid;
        /* grid-template-areas: 
        'nav nav nav nav nav'
        'hero hero hero hero hero'
        'card card card card card'
        'banner banner banner banner banner'
        'gallery gallery gallery gallery gallery'
        'footer footer footer footer footer'; */
    grid-gap: 2rem;
}

/* Top heading */

.container > h1{
    text-align: center;
    color: rgb(27, 90, 114);
}

/* Navigation section */

/* header{ */
    /* grid-area: nav; */
/* } */

header nav ul {
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(.2fr, 1fr));
    grid-gap: 3rem;
    list-style: none;
    padding: 0;
}

header ul li a{
    text-align: center;
    padding: 10px 50px;
    background-color: gainsboro;
    display: block;
    /* margin: auto 60px; */
    box-shadow: 3px 3px 5px black;
}

header li a:hover{
    color: white;
    background-color: black;
}


/* Hero section */

.top-container{
    /* grid-area: hero; */
    display: grid;
    grid-template-areas: 
    'box box-a'
    'box box-b';
    grid-gap: 2rem;
    grid-template-columns: 5fr 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(.5fr, 1fr)); */
    grid-template-rows: repeat(2, 250px);
}

#hero{
    grid-area: box;
    background-image: url("../images/laptop-g62dac3522_1920.jpg");
    background-position: center center;
    background-size: cover;
    padding: 150px 60px;
    color: white;
}

#hero h1{
    font-size: 3.5rem;
}

#hero a{
    color: white;
    padding: 10px;
    background-color: black;
}

#hero a:hover{
    color: black;
    background-color: white;
}

#hero h3{
    font-size: 1rem;
    font-weight: lighter;
    /* margin-bottom: 20px; */
}

/* #membership{
    background-color: gainsboro;
} */

.top-container .items{
    background-color: gainsboro;
    text-align: center;
    line-height: 3.5rem;
    box-shadow: 3px 3px 5px black;
}

.top-container .items a{
    color: white;
    padding: 10px;
    background-color: black;
}

.box-a{
    grid-area: box-a;
}

.box-b{
    grid-area: box-b;
}

/* Services section */

#box-container{
    /* grid-area: card; */
    display: grid;
    grid-gap: 2rem;
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Yeh change kia tha responsive kay liye */
}

#box-container .box{
    background-color: gainsboro;
    padding: 20px;
    text-align: center;
    box-shadow: 3px 3px 5px black;
}

/* Banner section */

#banner{
    /* grid-area: banner; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(.3fr, 1fr)); */
    background-color: gainsboro;
    padding: 50px;
    box-shadow: 3px 3px 5px black;
    grid-gap: 2rem;
}


#banner .text{
    padding-top: 20px;
}

#banner .text a{
    color: white;
    padding: 10px;
    background-color: black;
    line-height: 2rem;
}

/* Gallery section */

.gallery{
    /* grid-area: gallery; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); My */
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Yeh change kia tha responsive kay liye */
    grid-gap: 1.1rem;
    /* background-color: gainsboro; */
}

.gallery img{
    box-shadow: 3px 3px 5px black;
}

/* Footer section */

footer{
    /* grid-area: footer; */
    background-color: rgb(32, 32, 32);
    color: white;
    text-align: center;
    padding: 20px;
}

/* .container section{ */
    /* background-color: gainsboro; */
/* } */

/* Utility classes */

a{
    text-decoration: none;
    color: black;
}

/* Media Queries for Tablet & Mobile */

@media only screen and (max-width: 700px) { /* (max-width: 600px) */ /* Yeh change kia tha responsive kay liye */

    header nav ul{
        /* grid-template-columns: repeat(2, .5fr); */
        grid-template-columns: 1fr; /* Yeh change kia tha responsive kay liye */
    }

    .top-container{
        grid-template-areas: 
        'box box'
        'box box'
        'box-a box-b';
        grid-template-columns: .5fr .5fr;
    }

    #hero{
        padding: 30px;
    }

    #banner{
        /* display: block; */
        grid-template-columns: 1fr; /* Yeh change kia tha responsive kay liye */
    }

    #banner img{
        width: 300px;
        height: 200px;
    }

    /* #box-container{ */
        /* grid-template-columns: repeat(2, .5fr); */
    /* } */

    /* #box-container #last{
        display: none;
    } */

    /* .gallery{ */
        /* grid-template-columns: repeat(3, 1fr); */
        /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
    /* } */
}

@media screen and (max-width:500px) { /* (max-width: 350px) */ /* Yeh change kia tha responsive kay liye */
    /* header nav ul{
        grid-template-columns: repeat(1, .4fr);
    } */
    

    /* .top-container{
        grid-template-areas: 
        'box box'
        'box box'
        'box-a box-b'; */
        /* grid-template-columns: .2fr .2fr; */
    /* } */

    .top-container{ /* Yeh add kia tha responsive kay liye */
        grid-template-areas: 
        'box box'
        'box-a box-a'
        'box-b box-b';
        /* grid-template-columns: .2fr .2fr; */
    }

    #hero h1{
        font-size: 1.7rem;
    }

    #hero h3{
        font-size: .8rem;
    }
}