/* Body section */

body{
    margin: 30px 50px;
    font-family: 'Lato', sans-serif;
    background-color: rgb(179, 174, 174);
}

/* Main grid */

.container{
    display: grid;
    grid-gap: 2rem;
}

/* Top heading */

.container > h1{
    text-align: center;
    color: rgb(27, 90, 114);
}

/* Navigation section */

header nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(.2fr, 1fr));
    grid-gap: 3rem;
    list-style: none;
    padding: 0;
}

header ul li a{
    text-align: center;
    padding: 10px 50px;
    background-color: gainsboro;
    display: block;
    box-shadow: 3px 3px 5px black;
}

header li a:hover{
    color: white;
    background-color: black;
}


/* Hero section */

.top-container{
    display: grid;
    grid-template-areas: 
    'box box-a'
    'box box-b';
    grid-gap: 2rem;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: repeat(2, 250px);
}

#hero{
    grid-area: box;
    background-image: url("../images/laptop-g62dac3522_1920.jpg");
    background-position: center center;
    background-size: cover;
    padding: 150px 60px;
    color: white;
}

#hero h1{
    font-size: 3.5rem;
}

#hero a{
    color: white;
    padding: 10px;
    background-color: black;
}

#hero a:hover{
    color: black;
    background-color: white;
}

#hero h3{
    font-size: 1rem;
    font-weight: lighter;
}

.top-container .items{
    background-color: gainsboro;
    text-align: center;
    line-height: 3.5rem;
    box-shadow: 3px 3px 5px black;
}

.top-container .items a{
    color: white;
    padding: 10px;
    background-color: black;
}

.box-a{
    grid-area: box-a;
}

.box-b{
    grid-area: box-b;
}

/* Services section */

#box-container{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#box-container .box{
    background-color: gainsboro;
    padding: 20px;
    text-align: center;
    box-shadow: 3px 3px 5px black;
}

/* Banner section */

#banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: gainsboro;
    padding: 50px;
    box-shadow: 3px 3px 5px black;
    grid-gap: 2rem;
}


#banner .text{
    padding-top: 20px;
}

#banner .text a{
    color: white;
    padding: 10px;
    background-color: black;
    line-height: 2rem;
}

/* Gallery section */

.gallery{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 1.1rem;
}

.gallery img{
    box-shadow: 3px 3px 5px black;
}

/* Footer section */

footer{
    background-color: rgb(32, 32, 32);
    color: white;
    text-align: center;
    padding: 20px;
}

/* Utility classes */

a{
    text-decoration: none;
    color: black;
}

/* Media Queries for Tablet & Mobile */

@media only screen and (max-width: 700px) { 

    header nav ul{
        grid-template-columns: 1fr;
    }

    .top-container{
        grid-template-areas: 
        'box box'
        'box box'
        'box-a box-b';
        grid-template-columns: .5fr .5fr;
    }

    #hero{
        padding: 30px;
    }

    #banner{
        grid-template-columns: 1fr;
    }

    #banner img{
        width: 300px;
        height: 200px;
    }
}

@media screen and (max-width:500px) { 

    .top-container{ 
        grid-template-areas: 
        'box box'
        'box-a box-a'
        'box-b box-b';
    }

    #hero h1{
        font-size: 1.7rem;
    }

    #hero h3{
        font-size: .8rem;
    }
}
